body {
    font-family: Roboto;
    display: flex;
    justify-content: center;
}

.container {
    padding: 20px;
    min-width: 30%;
    border: 20px solid red;
}

.cross {
    color: red;
    float: right;
}

.cross:hover {
    cursor: pointer;
}